body {
    margin: 0;
    padding: 0%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    height: 75px;
    padding: 1rem;
    color: rgb(0, 0, 0);
    border: solid 1px black;
    background: teal;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  

section h1 {
    border: 1px solid rgb(0, 0, 0);
    margin-top: 108px;
    height:700px;
    text-align: left;
}

footer h3 {
    border: 1px solid red;
    height: 136px;
    margin-bottom: 0;
    left: 0;
    right: 0;
}
 
 