*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #585a5f;
}
.user {
  width: fit-content;
  margin: 150px auto; 
  display: flex;
}
.user img {
  width: 320px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  z-index: 100;
  box-shadow:10px 10px 10px rgba(0,0,0, 0.3);
  transition: transform 1s, box-shadow 1s;
}
.info {
  padding: 10px 50px;
  transform: translateX(50px);
  opacity: 1;
  transition: transform 1s, opacity 1s;
}
.info h1 {
  font-size: 80px;
  font-weight: 500;
}
.info p{
  line-height: 26px;
}
.info a {
  background: #6d6d6d;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 30px;
  margin-top: 20px;
}
.info span{
  color: #6d6d6d;
  font-weight: 500;
}
.close-icon{
  width: 320px;
  cursor: pointer;
  position: relative;
  transition: transform 1s;
}
.close-icon::before, .close-icon::after{
  content: '';
  height: 100%;
  width: 2px;
  background: #333;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
}
.close-icon::before{
  transform: rotate(30deg);
}
.close-icon::after{
  transform: rotate(-30deg);
}

.hide-details .info{
  transform: translateX(50px);
  opacity: 0;
}

.hide-details .close-icon{
  transform: translateX(-410px);
}
.hide-details img{
  transform: translateX(410px);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}


/* 
.container {
  width: 100%;
  height: 30vh;
  xbackground: #222;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.skills h2 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 16px;
}

.progress-bar {
  background: #959595;
  width: 600px;
  height: 10px;
  border-radius: 5px;
}

.progress-bar div {
  height: 10px;
  border-radius: 5px;
  width: 0%;
  xbackground: red;
}

.progress-bar div span {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #222;
  float: right;
  margin-top: -15px;
  margin-right: -20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.html {
  background: #e01e63;
  animation: html 1s linear forwards;
}
.css {
  background: #cddc39;
  animation: css 1s linear forwards;
}
.javascript {
  background: #00bcd4;
  animation: javascript 1s linear forwards;
}

.html span {
  border: 1px solid #e01e63;
}
.css span {
  border: 1px solid #cddc39;
}
.javascript span {
  border: 1px solid #00bcd4;
}

@keyframes html {
  100% {
    width: 54%;
  }
}
@keyframes css {
  100% {
    width: 28%;
  }
}
@keyframes javascript {
  100% {
    width: 18%;
  }
} */