*{
  margin:0;
  padding:0;
  box-sizing: border-box; /* 모든 박스 크기를 테두리 기준으로 */
  font-family: sans-serif;
}

body {
  display: flex; /* 태그 안의 공간을 레이아웃, 정렬, 간격을 설정하기 위함 */
  flex-direction: column; /* 태그들을 column(열)기준으로 정렬 */
  align-items: center; /* 세로 축 기준 중앙 정렬 */
  padding-top: 15vh;
  background-color: #3B4665;
}

#game {
  position: relative;
  width: 60vh;
  height: 60vh;
  background-color: #6E7DAD;
  border-radius: 8px;
  border: 1px solid #4d5676;
  box-shadow: 0px 2px 0px #2f3547;
}
.cell {
  xdisplay: inline-block;
  xflex-direction: row;
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  height: 25%;
  background-color: #343847;
  border-radius: 8px;
  color: #ECEFF1;
  font-size: 7vh;
  font-weight: bold;
  text-align: center;
  padding: 3%;
  cursor: pointer;
  user-select: none; /* 마우스 선택 X */
  transition: left 0.3s, top 0.3s; /* 이동 움직임 */
}

.reset {
  display: flex;
  flex-direction: row; /* 왼쪽부터 정렬 */
  width: 60vh;
  height: 10vh;
  background-color: #263238;
  border-radius: 8px;
  margin-top: 22px;
}
.reset-button {
  flex-grow: 1; /* 영역을 비율대로 다 채움 */
  background-color: inherit; /* reset의 백그컬 계승 */
  color: #1976D2;
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
  padding-top: 4%;
  margin: 4px;
  cursor: pointer;
  transition: font-size 0.6s;
}
.reset-button:hover{
  opacity:0.8;
  font-size:3.5vh;
}
.reset-button.active{
  background-color:inherit; /* reset의 백그컬 계승 */
  color: #29B6F6;
}