* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span {
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 10px;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background: #eee; 
}

.off {
    color: rgba(0,0,0,0);
}

#area {
    display: grid;
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
    grid-template-columns: auto auto auto auto;
}

.block {
    display: flex;
    width: 95px;
    height: 95px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 4px solid black;
    transition: background 0.2s ease-in-out;
    webkit-user-select:none;  /* 드래그방지 */
    moz-user-select:none;  /* 드래그방지 */
    ms-user-select:none;  /* 드래그방지 */
    user-select:none;  /* 드래그방지 */
    border-radius: 10px;
    
}

button {
    margin-top: 15px;
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    background: #eee;
    box-sizing: border-box;
    outline: none;
    outline: 0;
    transition: all 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: black;
    color: white;
}

.block:hover {
    cursor: pointer;
    background: #0ff30f;
}

